$primary-color: #000;
$secundary-color: #e30035;
$color-ligth: #fff;
$color-gray: #888888;
$color-green: #11ab6b;
$color-black: $primary-color;
$color-gold: #ffd700;
$font-primary: "Inter";
$font-secundary: "Source Serif 4";
