$primary-color: #000;
$secundary-color: #e30035;
$color-ligth: #fff;
$color-gray-darken: #2e2e2e;
$color-gray: #888888;
$color-black-2: #1b1b1b;
$color-gray-ligthen: #ddd;
$color-gray-medium: #8a8c8e;
$color-green: #11ab6b;
$color-black: $primary-color;
$color-gold: #ffd700;
$color-ice: #f9f9f9;
$font-primary: "Inter";
$font-secondary: "Source Serif 4";
$font-tertiary: "Galada";
$gradient-category: linear-gradient(to bottom, #ff00ff, #ffa932, #ffd632);
