@use "../abstracts/index" as *;

.section {
  margin: 0 auto;
  width: 100%;
  max-width: 180rem;
}

.container {
  &--category {
    margin-top: 4.2rem;
    padding: 0 1rem 3.5rem 1rem;
  }

  &--slider,
  &--banner-home {
    padding-bottom: 3.4rem;
  }

  &--benefits {
    margin: 4.1rem 0 5rem 0;
  }
}

.banner-home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;

  &__item {
    &:last-child {
      grid-column: 1 / span 2;
    }
  }
}

.benefits {
  @include flex($justify: space-around);
  &__item {
    @include flex($direction: column, $align: center, $gap: 1rem);
    width: 100%;
    max-width: 20rem;
  }

  &__label {
    @include flex($direction: column, $align: center, $gap: 0.5rem);
    text-align: center;
  }

  &__title {
    font-size: 1.7rem;
    line-height: 1;
    color: $color-gray-darken;
  }

  &__text {
    font-size: 1.4rem;
  }

  &__img {
    width: 3rem;
    height: 3rem;
  }
}
